[submodule "src/github.com/cloudfoundry/gunk"]
	path = src/github.com/cloudfoundry/gunk
	url = https://github.com/cloudfoundry/gunk
	branch = master
[submodule "src/github.com/onsi/ginkgo"]
	path = src/github.com/onsi/ginkgo
	url = https://github.com/onsi/ginkgo
	branch = master
[submodule "src/github.com/onsi/gomega"]
	path = src/github.com/onsi/gomega
	url = https://github.com/onsi/gomega
	branch = master
[submodule "src/gopkg.in/yaml.v2"]
	path = src/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
	branch = v2
[submodule "src/github.com/golang/protobuf"]
	path = src/github.com/golang/protobuf
	url = https://github.com/golang/protobuf
	branch = master
[submodule "src/github.com/google/go-github"]
	path = src/github.com/google/go-github
	url = https://github.com/google/go-github
	branch = master
[submodule "src/github.com/google/go-querystring"]
	path = src/github.com/google/go-querystring
	url = https://github.com/google/go-querystring
	branch = master
[submodule "src/github.com/pivotal-golang/lager"]
	path = src/github.com/pivotal-golang/lager
	url = https://github.com/pivotal-golang/lager
	branch = master
[submodule "src/github.com/jessevdk/go-flags"]
	path = src/github.com/jessevdk/go-flags
	url = https://github.com/jessevdk/go-flags
[submodule "src/golang.org/x/net"]
	path = src/golang.org/x/net
	url = https://go.googlesource.com/net
	branch = master
[submodule "src/golang.org/x/oauth2"]
	path = src/golang.org/x/oauth2
	url = https://go.googlesource.com/oauth2
	branch = master
[submodule "src/github.com/tedsuo/ifrit"]
	path = src/github.com/tedsuo/ifrit
	url = https://github.com/tedsuo/ifrit
	branch = master
[submodule "src/github.com/aws/aws-sdk-go"]
	path = src/github.com/aws/aws-sdk-go
	url = https://github.com/aws/aws-sdk-go
	branch = master
