[submodule "src/github.com/onsi/ginkgo"]
	path = src/github.com/onsi/ginkgo
	url = https://github.com/onsi/ginkgo
	branch = master
[submodule "src/github.com/onsi/gomega"]
	path = src/github.com/onsi/gomega
	url = https://github.com/onsi/gomega
	branch = master
[submodule "src/gopkg.in/yaml.v2"]
	path = src/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
	branch = v2
[submodule "src/github.com/golang/protobuf"]
	path = src/github.com/golang/protobuf
	url = https://github.com/golang/protobuf
	branch = master
[submodule "src/github.com/google/go-github"]
	path = src/github.com/google/go-github
	url = https://github.com/google/go-github
	branch = master
[submodule "src/github.com/google/go-querystring"]
	path = src/github.com/google/go-querystring
	url = https://github.com/google/go-querystring
	branch = master
[submodule "src/github.com/jessevdk/go-flags"]
	path = src/github.com/jessevdk/go-flags
	url = https://github.com/jessevdk/go-flags
[submodule "src/golang.org/x/net"]
	path = src/golang.org/x/net
	url = https://go.googlesource.com/net
	branch = master
[submodule "src/golang.org/x/oauth2"]
	path = src/golang.org/x/oauth2
	url = https://go.googlesource.com/oauth2
	branch = master
[submodule "src/github.com/tedsuo/ifrit"]
	path = src/github.com/tedsuo/ifrit
	url = https://github.com/tedsuo/ifrit
	branch = master
[submodule "src/github.com/jinzhu/inflection"]
	path = src/github.com/jinzhu/inflection
	url = https://github.com/jinzhu/inflection
	branch = master
[submodule "src/github.com/jinzhu/gorm"]
	path = src/github.com/jinzhu/gorm
	url = https://github.com/jinzhu/gorm
	branch = master
[submodule "src/github.com/satori/go.uuid"]
	path = src/github.com/satori/go.uuid
	url = https://github.com/satori/go.uuid
	branch = master
[submodule "src/github.com/hashicorp/go-multierror"]
	path = src/github.com/hashicorp/go-multierror
	url = https://github.com/hashicorp/go-multierror
	branch = master
[submodule "src/github.com/deckarep/golang-set"]
	path = src/github.com/deckarep/golang-set
	url = https://github.com/deckarep/golang-set
	branch = master
[submodule "src/github.com/go-sql-driver/mysql"]
	path = src/github.com/go-sql-driver/mysql
	url = https://github.com/go-sql-driver/mysql
	branch = master
[submodule "src/github.com/BurntSushi/migration"]
	path = src/github.com/BurntSushi/migration
	url = https://github.com/BurntSushi/migration
	branch = master
[submodule "src/github.com/rakyll/magicmime"]
	path = src/github.com/rakyll/magicmime
	url = https://github.com/rakyll/magicmime
	branch = master
[submodule "src/code.cloudfoundry.org/lager"]
	path = src/code.cloudfoundry.org/lager
	url = https://github.com/cloudfoundry/lager
	branch = master
[submodule "src/github.com/mgutz/ansi"]
	path = src/github.com/mgutz/ansi
	url = https://github.com/mgutz/ansi
	branch = master
[submodule "src/code.cloudfoundry.org/clock"]
	path = src/code.cloudfoundry.org/clock
	url = https://github.com/cloudfoundry/clock
	branch = master
[submodule "src/github.com/inconshreveable/go-update"]
	path = src/github.com/inconshreveable/go-update
	url = https://github.com/inconshreveable/go-update
	branch = master
[submodule "src/github.com/kardianos/osext"]
	path = src/github.com/kardianos/osext
	url = https://github.com/kardianos/osext
	branch = master
[submodule "src/github.com/getsentry/raven-go"]
	path = src/github.com/getsentry/raven-go
	url = https://github.com/getsentry/raven-go
	branch = master
[submodule "src/github.com/certifi/gocertifi"]
	path = src/github.com/certifi/gocertifi
	url = https://github.com/certifi/gocertifi
	branch = master
[submodule "src/github.com/googleapis/gax-go"]
	path = src/github.com/googleapis/gax-go
	url = https://github.com/googleapis/gax-go
	branch = master
[submodule "src/google.golang.org/api"]
	path = src/google.golang.org/api
	url = https://code.googlesource.com/google-api-go-client
	branch = master
[submodule "src/google.golang.org/grpc"]
	path = src/google.golang.org/grpc
	url = https://github.com/grpc/grpc-go
	branch = master
[submodule "src/google.golang.org/genproto"]
	path = src/google.golang.org/genproto
	url = https://github.com/google/go-genproto
	branch = master
[submodule "src/cloud.google.com/go"]
	path = src/cloud.google.com/go
	url = https://code.googlesource.com/gocloud
	branch = master
[submodule "src/github.com/tedsuo/rata"]
	path = src/github.com/tedsuo/rata
	url = https://github.com/tedsuo/rata
	branch = master
[submodule "src/github.com/bmizerany/pat"]
	path = src/github.com/bmizerany/pat
	url = https://github.com/bmizerany/pat
	branch = master
[submodule "src/github.com/robfig/cron"]
	path = src/github.com/robfig/cron
	url = https://github.com/robfig/cron
	branch = master
[submodule "src/github.com/nlopes/slack"]
	path = src/github.com/nlopes/slack
	url = https://github.com/nlopes/slack
	branch = master
[submodule "src/gopkg.in/libgit2/git2go.v24"]
	path = src/gopkg.in/libgit2/git2go.v24
	url = https://github.com/cbguder/git2go.git
	branch = v24
[submodule "src/github.com/cenkalti/backoff"]
	path = src/github.com/cenkalti/backoff
	url = https://github.com/cenkalti/backoff
	branch = master
[submodule "src/github.com/mattn/go-colorable"]
	path = src/github.com/mattn/go-colorable
	url = https://github.com/mattn/go-colorable
	branch = master
[submodule "src/code.cloudfoundry.org/archiver"]
	path = src/code.cloudfoundry.org/archiver
	url = https://github.com/cloudfoundry/archiver
	branch = master
