<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Credential Count by Organization</title>
  </head>
  <body>
    <div id="content">
      <table class="table">
        <thead>
          <th>Organization</th>
          <th>Credential Count</th>
        </thead>

        {{range .Organizations}}
        <tr>
          <td><a href="#{{.Name}}">{{.Name}}</a></td>
          <td>{{.CredentialCount}}</td>
        </tr>
        {{end}}
      </table>

      <br />
      <br />
      <hr>

      {{range .Organizations}}
      <table id="#{{.Name}}" class="table">
	<caption>{{.Name}}</caption>
        <thead>
          <th>Repository</th>
          <th>Credential Count</th>
        </thead>

        {{range .Repositories}}
        <tr>
          <td>{{.Name}}</a></td>
          <td>{{.CredentialCount}}</td>
        </tr>
        {{end}}

      {{end}}
    </div>
  </body>
</html>
