<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Credential Count by Organization</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  </head>
  <body>
    <div id="content">
      <h3>Credential Counts By Organization</h3>
      <table class="pure-table pure-table-bordered">
        <thead>
          <th>Organization</th>
          <th>Credential Count</th>
        </thead>

        {{range .Organizations}}
        <tr>
          <td><a href="#{{.Name}}">{{.Name}}</a></td>
          <td>{{.CredentialCount}}</td>
        </tr>
        {{end}}
      </table>

      <br />
      <br />
      <hr>

      <h3>Credential Counts By Repository</h3>
      {{range .Organizations}}
      <div style="float:left;">
	<table id="#{{.Name}}" class="pure-table pure-table-bordered">
	  <caption>{{.Name}}</caption>
	  <thead>
	    <th>Repository</th>
	    <th>Credential Count</th>
	  </thead>

	  {{range .Repositories}}
	  <tr>
	    <td>{{.Name}}</a></td>
	    <td>{{.CredentialCount}}</td>
	  </tr>
	  {{end}}
	</table>
      {{end}}
    </div>
  </body>
</html>
